[Unit]
Description=Run vdirsyncer periodically
Documentation=man:vdirsyncer(1)

[Timer]
OnBootSec=2m
OnCalendar=*-*-* *:00/10:00
Persistent=true

[Install]
WantedBy=timers.target
