[Desktop Entry]
Name=Swappy
GenericName=Annotation Tool
Comment=Edit a snapshot in Swappy
TryExec={{ .chezmoi.homeDir }}/.local/bin/swappy-open
Exec={{ .chezmoi.homeDir }}/.local/bin/swappy-open %f
Terminal=false
Type=Application
Keywords=wayland;snapshot;annotation;editing;
Icon=swappy
Categories=Utility;Graphics;
StartupNotify=true
MimeType=image/png;image/jpeg;
